.Content {
  min-height: calc(100vh - 50px);
  background-color: #f5f6f9;
}

@media (max-width: 1000px) {
  .Content {
    min-height: calc(100vh - 50px);
  }
}

@media (max-width: 1000px) {
  .Col1 {
    width: 0;
  }
}
@media (min-width: 1000px) {
  .Col1 {
    width: 200px;
  }
}

.Hide {
  display: none;
}
