.dropContainer {
  background: #f5f9fa;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  border: 1px dashed #26c6da;
}

.dropMessage {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  padding-left: 30px;
  font-size: 14px;
  padding-right: 30px;
}
@media (min-width: 1350px) {
  .LargePadding {
    padding-left: 233px;
    padding-right: 233px;
  }
}

.Dot {
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #26c6da;
  border-radius: 50%;
  margin-bottom: 13px;
}

.Text {
  color: #6f87a0;
}
.GreyText {
  color: #baccdd;
  font-size: 12px;
}
.HighlightedText {
  color: #26c6da;
  text-decoration: underline;
}
.HighlightedText:hover {
  cursor: pointer;
}

.PreviewStyles {
  border-radius: 4px;
}
.PreviewContainer {
  margin-top: 19px;
}
.PreviewFile {
  justify-content: space-evenly;
}

.NoOfFilesSelected {
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 16px;
  color: #6f87a0;
}

.fileInput {
  display: none;
}

.showUploadIcon {
  font-weight: 500;
  font-size: 16px;
  padding-left: 12px;
  padding-right: 12px;
}
@media (max-width: 500px) {
  .showUploadIcon {
    font-size: 14px;
  }
}

.DarkClose {
  position: absolute;
  top: 7px;
  right: 16px;
}
.DarkClose:hover {
  cursor: pointer;
}
.EditIcon {
  text-align: right;
  padding-top: 17px;
  padding-right: 21px;
}
@media (max-width: 500px) {
  .DarkClose {
    right: 7px;
  }
  .EditIcon {
    padding-top: 15px;
    padding-right: 12px;
  }
}
